$dark: #283739;
$light: #e0e0e0;
$mainGreen: #a2c11c;
$mainBlue: #2c5d63;
$navBarHeight: 85px;
$headerHeight: 70px;
$searchBarHeight: 90px;

//import bootstrap
@import "~bootstrap/scss/bootstrap";

//override bootstrap presets
$theme-colors: (
  "primary": $mainGreen,
  "info": $mainBlue,
);

$accordion-button-active-bg: white;
$accordion-button-active-color: black;
$accordion-button-focus-border-color: $mainBlue;
$accordion-button-focus-box-shadow: 0px 0px 5px 1px rgb(44, 93, 99, 0.5);

$min-contrast-ratio: 2;

//reimport updated bootstrap styles
@import "~bootstrap/scss/bootstrap";

//
//start of my own styling
//

body {
  color: $dark;
}

.header {
  height: $headerHeight;
  background-color: $mainBlue;
  display: flex;

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;

  img {
    height: 150px;
    align-self: center;
    margin-left: 20px;
  }
}

nav {
  height: $navBarHeight;
  img {
    height: 35px;
    cursor: pointer;
  }
  p {
    margin: 0;
    font-size: 0.7rem;
  }

  .nav {
    background-color: $light;
    padding: 10px;

    .container {
      // max-width: 450px;
      margin: 0 auto;
    }
  }
}

.required:after {
  content: "*";
  font-weight: bold;
}

.welcomePage {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $mainBlue;
  align-content: center;

  img {
    height: 50vh;
  }

  h1 {
    color: $light;
    font-size: 10vh;
  }
  p {
    color: $dark;
  }
}

.mainContainer {
  margin-top: $headerHeight + 25px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .linkText {
    color: $mainGreen;
    background-color: white;
    border: none;
    padding: 0 4px;
  }

  .submitButton {
    display: flex;
    justify-content: center;
  }

  .btn-listing {
    display: flex;
    height: 40px;
    align-items: center;

    img {
      height: 20px;
      margin-right: 5px;
    }

    p {
      align-self: flex-start;
    }
  }

  .card {
    margin-top: 20px;
  }

  .emptyErrorMessage {
    text-align: center;
    margin-top: $headerHeight + $searchBarHeight + 50px;
  }

  .loginPage {
    max-width: 500px;

    .signUpLink {
      margin-top: 80px;
      display: flex;
      align-items: flex-start;
    }
  }

  .homePage {
    margin-bottom: $navBarHeight;

    .searchArea {
      width: 100%;
      background-color: #ffffff;
      position: fixed;
      top: $headerHeight;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px 0;
      z-index: 10000;
      height: $searchBarHeight;

      .searchBar {
        display: flex;
        justify-content: center;
        background-color: rgb(162, 193, 28, 0.2);
        border-radius: 10px;
        padding: 3px 0;
        width: 200px;
        margin: 0 auto;
        border-color: $mainGreen;
        border-width: 3px;
        border-style: solid;
        align-items: center;

        input {
          border: none;
          background-color: transparent;
          width: 150px;
          &::placeholder {
            color: rgb(44, 93, 99, 0.5);
          }
          &:focus {
            outline: none;
            color: $dark;
          }
        }

        img {
          height: 30px;
        }
      }
    }

    .availableItemListing {
      margin-top: $headerHeight + $searchBarHeight;
    }
    .card-body {
      h5 {
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0.5rem;
      }

      .location {
        display: flex;
        align-items: center;

        p {
          margin-bottom: 0;
        }

        img {
          height: 15px;
        }
      }

      .btn {
        margin-top: 10px;
      }
    }
  }

  .profilePage {
    margin: 0 20px;

    .row {
      margin: 0;
    }
    .profileLabel {
      padding-left: 0;
      font-weight: 200;
    }

    .editButton {
      background-color: transparent;
      border: none;
      color: #a2c11c;
      font-style: italic;
      padding-left: 12px;
      margin-bottom: 10px;
    }

    .saveButton {
      background-color: $mainGreen;
      color: white;
      display: block;
      border-color: transparent;
      box-shadow: 3px 3px $mainBlue;
      margin: 0 auto 10px auto;
    }

    .profileField {
      margin-bottom: 10px;
      // margin-right: 10px;
      // padding-bottom: 10px;
      // padding-left: 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid $mainGreen;
    }
  }

  .listingPage {
    margin-bottom: $navBarHeight;
  }

  .addToListing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.8);
    height: 60px;
    position: fixed;
    bottom: $navBarHeight - 13px;
    width: 100vw;
    z-index: 1000;
  }
}

.clearStorage {
  z-index: 100000000000000;
}

//
//media-queries

@media (min-width: 470px) {
  .mainContainer {
    .profilePage {
      margin: 0 auto;
      max-width: 430px;
    }
  }
}
